html,
body {
    margin: 0;
    min-height: 100%;
    width: 100%;
}

body {
    font-family: Segoe UI Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    display: inline-block;
}

body {
    background-image: url("../images/background.jpg");
    font-family: cursive;
    width: 100%;
    overflow-x: hidden;
}

#wrapper {
    width: 100%;
    height: 100%;
}

#menu {
    height: 120px;
    width: 100%;
    background-color: transparent;
    z-index: 100;
    position: fixed;
}

a {
    text-decoration: none;
    color: white;
    font-family: cursive;
}

#mainNav a:hover {
    text-shadow: 0px 15px 15px white;
}

#logo {
    height: auto;
    width: 100px;
    position: absolute;
    margin-top: 10px;
}

#phone {
    height: 60px;
    width: 40px;
    position: relative;
    top: 20px;
    display: inline;
}

#phone:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

#mainNav ul li {
    display: inline-block;
    margin-left: 20px;
    margin-top: 5px;
}

#mainNav ul {
    position: absolute;
    right: 100px;
    float: right;
}

#cart {
    width: 6%;
    margin-top: 38px;
    display: none;
}

#userIcon {
    width: 5%;
    display: inline;
    display: none;
    position: relative;
    right: 2%;
    top: 35%;
    float: right;
}

#userMenu {
    width: 250px;
    height: 300px;
    border: 1px solid black;
    background-color: rgba(154, 205, 50, 0.7);
    top: 130px;
    display: none;
    left: 40%;
    position: absolute;
    margin-right: 5px;
    z-index: 100;
}

#dropdown {
    top: 40px;
    width: 7%;
    height: auto;
    display: none;
    display: relative;
    margin: 2px 10px;
}

#dropdown:hover,
#cart:hover,
#userIcon:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 2px 1px black;
}

.dropdown-content {
    position: absolute;
}

#slideshow div {
    margin: 0 auto;
    z-index: -5;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

#slideshow>div>img {
    margin: 0 auto;
    height: auto;
    display: block;
    max-width: 100%
}

nav ul button,
#menuButton {
    margin-left: 20px;
    border-radius: 5px;
    font-family: cursive;
    background-color: transparent;
    border-style: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid white;
    box-shadow: 0 1px 1px 0 black;
}

#callUs {
    font-size: 20px;
}

nav ul button:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 2px 0 black;
}

button:focus {
    outline: 0;
}

#div {
    position: absolute;
    top: 20%;
}

#popUp {
    width: 50%;
    height: auto;
    border: 1px solid black;
    background-color: rgba(154, 205, 50, 0.7);
    display: none;
    position: fixed;
    left: 25%;
    z-index: 180;
    top: 20%;
    border-radius: 10px;
    animation: flyin 1.2s ease forwards;
    transform: scale(2);
    filter: blur(4px);
}

#popUp button {
    border-radius: 5px;
}

@keyframes flyin {
    to {
        filter: blur(0);
        transform: scale(1);
        opacity: 1;
    }
}

#close,
#close2,
#close3 {
    width: 20px;
    float: right;
    margin: 10px;
    position: relative;
}

#close:hover,
#close2:hover,
#close3:hover {
    transform: scale(1.1);
}

#corleone {
    position: relative;
    width: 90px;
    margin: 0 auto;
    display: block;
}

#facebook {
    background-image: url("../assets/facebook.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    width: 40%;
    height: 45px;
    border: none;
    margin: 0 auto;
    background-color: transparent;
}

#facebook:active {
    width: 42%;
}


/*input[type=email],*/

input[type=password] {
    display: block;
    margin: 10px auto;
    width: 80%;
    height: 6%;
    border: 1px solid gray;
    border-radius: 4px;
    outline: none;
    font-family: cursive;
}

#login button[type=submit],
button[type=button] {
    margin: 10px auto;
    width: 30%;
    display: block;
    font-size: 80%;
    background-color: black;
    color: white;
    font-family: cursive;
    width: 110px;
    border-radius: 5px;
}

#popUp label,
input[type=checkbox] {
    position: relative;
    left: 9%;
    font-size: 0.8em;
}

input[type=submit] {
    outline: none;
}

#login legend {
    text-align: center;
    font-weight: bold;
    font-size: 4vw;
    position: relative;
    left: 12px;
}

#login {
    margin: 10px;
    border-radius: 10px;
}

@media (max-width:850px) {
    #menuPageHeader nav div {
        display: block;
        margin: 0 auto;
    }
    nav ul {
        display: none;
    }
    #pointer {
        display: none;
    }
    #dropdown {
        display: block;
        position: relative;
        float: right;
    }
    #sale {
        display: none;
    }
    #cart {
        display: inline;
        right: 33%;
        float: right;
    }
    #offer_con {
        bottom: 18em;
    }
    #slideshow div img {
        width: 150%;
    }
    .buttons {
        display: none;
    }
}

#myDropdownDiv {
    width: 250px;
    height: 300px;
    display: none;
    border: 1px solid black;
    background-color: rgba(154, 205, 50, 0.7);
    float: right;
    position: fixed;
    margin-right: 5px;
    z-index: 102220;
}

#myDropdownDiv ul,
#userMenu ul {
    position: relative;
    width: 300px;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    list-style-type: none;
    top: 15%;
}

#myDropdownDiv ul li,
#userMenu ul li {
    display: block;
    margin: 20px auto;
    position: relative;
    text-align: center;
    right: 8%;
}

#myDropdownDiv ul li a {
    color: black;
}

#myDropdownDiv ul li a:hover {
    text-shadow: 10px 13px 12px black;
    font-weight: bold;
}

#myDropdownDiv button,
#userMenu button {
    border-radius: 15px;
    font-family: cursive;
    background-color: transparent;
    border-style: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid white;
    box-shadow: 0 1px 1px 0 black;
}

#myDropdownDiv button:hover,
#userMenu button:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 2px 0 black;
}

#registrationWrapper {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 100;
    margin: 0 auto;
    bottom: 30%;
    right: 1%;
    box-sizing: content-box;
}

#welcomeMessage {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    border: 1px solid rgba(154, 205, 50, 0.8);
    color: white;
    height: 200px;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 200px;
    z-index: 1020;
    display: none;
    animation: flyin 1s ease forwards;
    filter: blur(3px);
    transform: scale(2);
}

#welcomeMessage h1 {
    color: rgb(154, 205, 50);
    text-align: center;
    top: 40%;
    position: relative;
    font-size: 1.3em;
    text-shadow: 2px 2px 15px white;
}

#registrationWrapper form {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    border: 1px solid rgba(154, 205, 50, 0.8);
    color: white;
    width: 85%;
    height: auto;
    top: 70px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 12px;
    animation: flyin 1.2s ease forwards;
    filter: blur(7px);
}

#passMessage,
#emailMessage,
#nameMessage {
    margin-bottom: 10px;
    color: red;
}

#registrationWrapper fieldset {
    border: 2px solid rgb(154, 205, 50);
    border-radius: 15px;
    height: auto;
    margin: 0 auto;
}

#registrationWrapper fieldset input[type=text] {
    margin: 10px 40px;
    outline: 0;
}

#registrationWrapper button[type=submit] {
    background-color: rgb(154, 205, 50);
    border: none;
    font-weight: bold;
    position: relative;
    bottom: 10px;
    font-family: cursive;
    box-shadow: 1px 2px 2px 2px rgb(154, 205, 50);
    border-radius: 5px;
    bottom: 10px;
}

#registrationWrapper button[type=submit]:hover {
    box-shadow: 1px 2px 3px rgb(154, 205, 50);
    transform: scale(1.1);
}

#restaurantDiv {
    margin: 0 auto;
    width: 50%;
    height: auto;
    top: 25%;
    left: 23%;
    display: none;
    position: fixed;
    animation: flyin 1s ease forwards;
    opacity: 0;
    transform: scale(3);
    filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border: 1px solid rgb(154, 205, 50);
    padding: 30px;
    z-index: 10;
}

#restaurantDiv h1 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
    text-align: center;
}

#restaurantDiv select {
    margin: 0 auto;
    display: block;
    position: relative;
    width: auto;
    border: 1px solid rgb(154, 205, 50);
    outline: none;
}

#menuPageHeader {
    height: 80px;
    display: none;
    width: 100%;
    position: fixed;
    top: 120px;
    z-index: 100;
    background-color: rgba(154, 205, 50, 0.8);
}

#menuPageHeader nav {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

#menuPageHeader nav button {
    margin: 30px 5px;
    width: 15%;
    background-color: transparent;
    border: none;
    color: white;
    font-family: cursive;
    font-weight: bold;
    font-size: 1.2em;
}

#menuPageHeader div {
    display: none;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

#menuPageHeader div img {
    width: 9%;
    margin: 0 auto;
    left: 20%;
    position: relative;
}

#menuPageHeader div img:hover {
    transform: scale(1.2);
}

#menuPageHeader nav button:hover {
    transform: scale(1.3);
    text-shadow: 2px 2px 3px black;
    box-shadow: 2px 1px 3px 2px black;
}

#menuPageHeader nav button:active {
    transform: scale(1.3);
    text-shadow: 2px 2px 3px black;
    box-shadow: 2px 1px 3px 2px black;
}

#menuPageHeader label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

#menuPageHeader input[type=checkbox] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}

#pizzaGallery,
#pastaGallery,
#drinksGallery,
#saladGallery,
#desertGallery,
#sandwichGallery {
    padding: .5vw;
    font-size: 15px;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
    flex-basis: 0;
    left: 5%;
    margin: 0 auto;
    position: relative;
    margin: 250px auto 0 auto;
}

#pastaGallery,
#drinksGallery,
#saladGallery,
#desertGallery,
#sandwichGallery {
    display: none;
}

#pizzaGallery .productDiv,
#pastaGallery .productDiv,
#drinksGallery .productDiv,
#saladGallery .productDiv,
#desertGallery .productDiv,
#sandwichGallery .productDiv {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    margin: 20px;
    width: 200px;
    height: 220px;
    flex-grow: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

#pizzaGallery .productDiv img,
#pastaGallery .productDiv img,
#drinksGallery .productDiv img,
#saladGallery .productDiv img,
#desertGallery .productDiv img,
#sandwichGallery .productDiv img {
    width: 100%;
    height: auto;
}

#pastaGallery .productDiv img {
    width: 80%;
    left: 10%;
    position: relative;
}

#pastaGallery .productDiv img:nth-child(3) {
    width: 90%;
    left: 10%;
    position: relative;
}

#pastaGallery .productDiv {
    height: 300px;
}

.heading {
    margin: auto;
    line-height: 51px;
    vertical-align: middle;
    color: red
}

@media screen and (max-width: 300px) {
    #pizzaGallery .productDiv {
        margin: 0;
        min-width: 20;
    }
    #pizzaGallery {
        padding: 0;
    }
}

.productDiv button {
    letter-spacing: 1px;
    margin-bottom: 5px;
    background-color: rgba(154, 205, 50, 1);
    ;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px black;
    height: 25px;
    width: 100px;
    color: #fff;
    position: relative;
    /*ne moga da gi fiksiram tezi butoni pri resize WHYYYYYYYYYYYY ????*/
    top: 28.5%;
    left: 25%;
    z-index: 50;
}


/*do tukj sum az */

#container {
    width: 100%;
    height: 800px;
    /*background-image: url("../images/pizza-back.jpg");*/
}

.head {
    color: red;
    text-transform: uppercase;
    font-size: 2.0em;
    text-shadow: 2px 2px 2px #023;
    margin-bottom: 0.5em;
}

#sale {
    width: 28em;
    padding: 2.1em;
    text-align: center;
    position: relative;
    top: 8em;
    left: 5%;
    background: -moz-radial-gradient(0 100%, circle, rgba(204, 0, 0, 0) 14px, # 15px), -moz-radial-gradient(100% 100%, circle, rgba(204, 0, 0, 0) 14px, #fff 15px), -moz-radial-gradient(100% 0, circle, rgba(204, 0, 0, 0) 14px, #fff 15px), -moz-radial-gradient(0 0, circle, rgba(204, 0, 0, 0) 14px, #fff 15px);
    background: -o-radial-gradient(0 100%, circle, rgba(204, 0, 0, 0) 14px, #fff 15px), -o-radial-gradient(100% 100%, circle, rgba(204, 0, 0, 0) 14px, #fff 15px), -o-radial-gradient(100% 0, circle, rgba(204, 0, 0, 0) 14px, #fff 15px), -o-radial-gradient(0 0, circle, rgba(204, 0, 0, 0) 14px, #fff 15fpx);
    background: -webkit-radial-gradient(0 100%, circle, rgba(204, 0, 0, 0) 14px, #faa 16px), -webkit-radial-gradient(100% 100%, circle, rgba(204, 0, 0, 0) 14px, #faa 16px), -webkit-radial-gradient(100% 0, circle, rgba(204, 200, 0, 0) 14px, #faa 15px), -webkit-radial-gradient(0 0, circle, rgba(204, 0, 0, 0) 14px, #faa 16px);
    background-position: bottom left, bottom right, top right, top left;
    -moz-background-size: 51% 51%;
    -webkit-background-size: 51% 51%;
    animation: flyin 1.2s ease forwards;
    transform: scale(2);
    filter: blur(4px);
    background-size: 51% 51%;
    background-repeat: no-repeat;
}

#tableSale {
    width: 100%;
    margin-bottom: 0.3em;
    border-top: 2px dotted palegoldenrod;
    border-bottom: 2px dotted palegoldenrod;
}

#tableSale tr td {
    padding: 0.3em;
}

.decoration {
    width: 30px;
}

td.center {
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

#pointer {
    position: absolute;
    bottom: 95%;
    left: 49%;
    width: 30px;
    height: auto;
    animation: MoveUpDown 1s linear infinite;
    -webkit-animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
    0% {
        bottom: 4%;
    }
    50% {
        bottom: 6%;
    }
    100% {
        bottom: 4%;
    }
}

@-webkit-keyframes MoveUpDown {
    0% {
        bottom: 4%;
    }
    50% {
        bottom: 6%;
    }
    100% {
        bottom: 4%;
    }
}

#second_part {
    background-image: url("../images/background.jpg");
}

#offer_con {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
}

article {
    margin: 10px;
    display: inline-block;
}

#article_1 {
    float: left;
}

#article_2 {
    float: right;
}

#offer {
    background-color: #fff;
    width: 300px;
    text-align: center;
}

#offer_dis {
    padding: 1.3em;
}

figcaption>h1 {
    margin: 0.8em 0;
    color: blueviolet;
    font-size: 1.6em;
}

#famCombo {
    margin: 0.8em 0 1.6em 0;
    color: blueviolet;
    font-size: 1.6em;
}

hr {
    width: 60%;
}

#first_offer {
    margin-bottom: 5em;
    font-size: 1.1em;
}

#second_offer {
    margin-bottom: 3.3em;
    font-size: 1.1em;
}

#offer figcaption>button {
    letter-spacing: 1px;
    margin-bottom: 5px;
    background-color: limegreen;
    font-size: 1em;
    border-color: green;
    box-shadow: 1px 1px 1px 1px black;
    height: 50px;
    width: 150px;
    color: #fff;
}

table.delivery {
    width: 100%;
    text-align: center;
    border-top: 1px solid blueviolet;
    padding: 0.5em;
}

.delivery td a {
    text-decoration: none;
}

#second_article {
    width: 300px;
}

@media (max-width:650px) {
    #second_article {
        display: none;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}


/*--------------*/

#info {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    display: inline-block;
    margin-top: 2.3em;
}

#articles_container {
    width: 60%;
    float: left;
    height: 100%
}

#tracker {
    background-color: red;
    padding: 0.5em;
    width: 80%;
}

.header_art {
    text-align: center;
    color: #fff;
    width: 100%;
    margin-bottom: 1.3em;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase
}

#tracker p {
    color: #fff;
    margin-bottom: 1.3em;
    text-align: left;
}

#tracker button {
    width: 70%;
    background-color: #000;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.8em;
    padding: 0.5em;
    margin-bottom: 3.4em;
}

#newsletter {
    background-color: #21f;
    padding: 0.5em;
}

#newsletter p {
    color: #fff;
}

#newsletter input[type="email"] {
    width: 80%;
    margin: 1.1em auto;
    padding: 0.5em;
}

#newsletter input[type="image"] {
    margin-left: 0.8em;
}

#skype {
    background-color: #29f;
    padding: 0.5em;
    width: 80%;
}

#skype p {
    color: #fff;
    margin-bottom: 2.1em;
    text-align: center;
}

#skype img {
    margin-bottom: 1.3em;
}

#skype,
#newsletter,
#tracker {
    width: 80%;
    border-radius: 15px 25px;
    margin-bottom: 1.3em;
}

#aside_container {
    width: 35%;
    float: right;
    height: 100%;
    margin-right: 1.1em;
}

#pizzaApp {
    background-color: #39a;
    padding: 1.1em 1.1em 0 1.1em;
    text-align: center;
    border-radius: 15px 25px;
    margin-right: 1.1em;
}

#pizzaApp a {
    text-decoration: none;
    color: #fff;
}

#pizzaApp p {
    margin: 0.8em 1.3em 0 1.3em;
    text-align: left;
    padding: 0;
}

#pizzaApp ul {
    padding: 1.1em;
    margin: 1.1em;
}

#pizzaApp li {
    display: inline;
    padding: 0.8em;
}

#and {
    color: #fff;
    font-size: 1.1 em;
}

#iphone_img {
    text-align: center;
}

#iphone_img img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 21em;
}

@media (max-width:750px) {
    #info {
        width: 100%;
        margin-top: 2.3em;
    }
    #aside_container,
    #articles_container {
        width: 100%;
        display: block;
    }
    #aside_container {
        margin-right: 0;
    }
    #skype,
    #newsletter,
    #tracker,
    #pizzaApp {
        width: 80%;
        display: block;
        margin: 1.1em auto;
    }
    #iphone_img {
        display: none;
    }
    #android_apple_icon {
        width: 100%;
    }
}


/* footer */

footer {
    background-color: #faa;
}

#info li {
    display: inline;
}

#info li a {
    text-decoration: none;
    color: white;
}

#social_icons,
#info {
    text-align: center;
    font-family: Segoe UI Tahoma, Geneva, Verdana, sans-serif;
}

#social_icons {
    padding-bottom: 0.8em;
}

#social_icons img {
    width: 50px;
}

li #tel {
    display: inline-block;
    width: 180px;
}

li #tel_icon {
    display: none;
    width: 50px;
}

#social_icons li {
    display: inline;
    padding: 0.8em;
}

@media (max-width:900px) {
    li #tel {
        display: none;
    }
    li #tel_icon {
        display: inline-block;
        width: 50px;
    }
}

@media (max-width:750px) {
    #info li {
        display: none;
    }
    #social_icons li {
        display: inline-block;
    }
}


/*-- CONTACT FORM */

#contact_form {
    margin: 3.4em auto;
    width: 40em;
    background: rgb(228, 245, 252);
    background: -moz-linear-gradient(top, rgba(228, 245, 252, 1) 0%, rgba(191, 232, 249, 1) 50%, rgba(42, 176, 237, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(228, 245, 252, 1) 0%, rgba(191, 232, 249, 1) 50%, rgba(42, 176, 237, 1) 100%);
    background: linear-gradient(to bottom, rgba(228, 245, 252, 1) 0%, rgba(191, 232, 249, 1) 50%, rgba(42, 176, 237, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed', GradientType=0);
    border: 1px solid #29f;
    border-radius: 20%;
    padding: 3.4em;
    /*position: absolute;
         display: block;
         top: 5%;
         left: 10%;
         right: 10%;*/
}

#contact_form input[type=text],
#contact_form input[type=email],
#contact_form input[type=number],
#contact_form textarea {
    width: 90%;
    height: 2.1em;
    display: block;
}

.info_contact {
    font-weight: bold;
    font-size: 1.3em;
    margin: 0.8em 3.4em;
}

#contact_form form>.head_contact {
    font-size: 1.3em;
}

#contact_form form>.head_contact~.head_contact {
    font-size: 1em;
}

.head_contact {
    text-align: center;
}

#rights {
    display: block;
    padding: 0.8em;
    text-align: right;
    color: #061;
}

#sendFeedbackBut {
    display: block;
    width: 20em;
    border: 1px, solid, blue;
    color: #fff;
    background-color: limegreen;
    border-radius: 10px;
    margin: 2.1em auto 0 auto;
    padding: 0.5em;
    font-size: 0.8em;
}

@media (max-width:750px) {
    #contact_form {
        width: 80%;
        padding: 0.5em;
    }
    .info_contact {
        font-weight: bold;
        font-size: 1.3em;
        margin: 0.8em 0.8em;
    }
}


/* Terms of use */

#termsOfUse {
    margin: 0 auto;
    width: 80%;
    background-color: #fff;
    padding: 1.3em;
    box-shadow: 15px 15px 10px #888;
    /*position: absolute;
         display: block;
         top: 5%;
         left: 10%;
         right: 10%;*/
}

#termsOfUse p {
    font-size: 1.3em;
    margin-bottom: 2.1em;
}

#termsOfUse :nth-child(2) {
    padding-top: 2.1em;
}

#termsOfUse p.bold {
    font-weight: bold;
}

#privateData {
    text-decoration: underline;
}


/* Job application */

#JobApp {
    border: 2px solid khaki;
    width: 60%;
    margin: 3.4em auto;
    background-color: indianred;
    font-family: Arial, Helvetica, sans-serif;
    color: #311;
    /*   position: absolute;
         display: block;
         top: 5%;
         left: 10%;
         right: 10%;*/
}

#JobApp div,
p {
    padding: 1.3em;
    text-align: justify;
}

#JobApp ul {
    padding-left: 3.4em;
    list-style: disc;
}

#JobApp h1 {
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
}

#positions p {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

#job_form {
    padding: 2.1em;
}

#nameFull {
    margin: 0, auto;
}

#job_form input[type=text],
input[type=email],
input[type=number],
input[type=date] {
    height: 2.1em;
    display: block;
    width: 100%;
    border: 1px solid darkblue
}

.additional_info {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.right_float {
    padding: 0;
    float: right;
    width: 40%;
    text-align: left;
}

.left_float {
    padding: 0;
    float: left;
    text-align: left;
    width: 40%;
}

#I_want_to_work_as {
    padding-left: 2.1em;
    font-weight: bold;
}

#radio {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

#radio p {
    padding: 0;
    float: left;
    width: 33%;
}

#job_form button:not( #codeGenBut) {
    display: block;
    background-color: cornflowerblue;
    border: 1px solid blue;
    border-radius: 10px;
    margin: 0 auto;
    color: #fff;
    font-size: 0.8em;
    padding: 0.5em 3.4em;
}

@media (max-width:850px) {
    #JobApp {
        width: 90%;
        margin: 0.8em auto;
    }
    #job_form {
        padding: 1.3em;
    }
    .right_float {
        width: 100%;
        text-align: left;
    }
    .left_float {
        width: 100%;
        margin-bottom: 2.1em;
        text-align: left;
    }
    #JobApp div,
    p {
        padding-top: 0.8em;
        text-align: justify;
    }
}


/* #generateCodeDiv {
         display: inline-block;
         width: 30%;
     }
     */

#codeGenBut {
    display: inline;
    background-color: cornflowerblue;
    margin: 0.5em;
}